
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

.navv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.telegram{
    color: rgb(93,165,249);
    margin-bottom: -5px;
}
.title{
    font-weight: bold;
    font-size: 1em;
}
.date, .price{
    font-weight: 200;
    color: rgb(139, 139, 139);
}
.time{
    margin-right: 3px;
    font-size: 0.9em;
    font-weight: 200;  
}


.left{
    display: flex;
    align-items: center;
}

/* .right{
    display: flex;
} */

.connect{
    display: flex;
    align-items: center;
}

.imag img{
    height: 27px;
    background-color: rgb(238,238,238);
    padding: 13px 2px;
    border-radius: 6px;
}

.listsCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
}
.lists{
    display: flex;
    align-items: center;
    padding: 15px;
}
.listsItemsCont{
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.rightarrow{
    color: silver;
    font-size: 30px;
    
    
}

.footlistCont{
    position: fixed;
    bottom: 0;
    width: 100vw;
    
    /* margin-bottom: -5px; */
}
.footlist{
   
    display: flex;
    background-color: rgba(255, 255, 255, 0.788);
    justify-content: space-between;
    padding: 20px 50px;
    background-color: white;
    border-top: solid #eee;
}
.footlistItems{
    text-align: center;
    color: silver;
}
.name{
    font-size: 12px;
}
.activityname{
    font-weight: bold;
    color: black;
    font-size: 12px;
}
.activitylogo{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.logo{
    font-size: 20px;
}