.about{
    margin: 0 40px;
}
.about >div > div{
    padding-bottom: 20px;
}
.aboutVision p{
    font-size: 1.1em;
    font-weight: 600;
}
.aboutTxt{
    font-size: 1.1em;
    font-weight: 600;
}
.about .aboutDescription > div{
    margin-bottom: 60px;
}
.about .title{
    text-align: center;
}
.about .aboutImage{
    width: 100%;
}

.about .aboutImage img{
    width: 100%;
}
.awards ul li {
    font-size: 1.1em;
    font-weight: 600;
}

@media only screen and (min-width: 1000px){
    .about{
        padding: 80px 40px;
    }

    .aboutSection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about .aboutDescription{
        width: 60%;
        margin-right: 60px;
    }

    .about .aboutImage{
        width: 30%;
    }
    
    .awards ul li {
        font-size: 1.3em;
        font-weight: 600;
    }
    
}