.books{
    margin: 0 40px;
}

.books > div{
    margin-bottom: 20px;
    
}
.books > div >div{
    margin-bottom: 40px;
}
/* .books .imgs a{
    text-decoration: none;
    color: black;
} */
.books .imgs div {
    width: 100%;
 }
.books .imgs img{
   width: 100%;
   margin-top: 20px;
}

.blockchainpathway p {
    font-size: 1.1em;
    font-weight: 600;
}
.wealthtransfer p{
    font-size: 1.1em;
    font-weight: 600;
}
.download{
    margin-top: 20px;
}
.blockchainpathway a, .wealthtransfer a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    background-color: goldenrod;
    outline: none;
    border: none;
    padding: 10px 20px;
    
}
.blockchainpathway a:hover, .wealthtransfer a:hover{
    
    background-color: rgba(245, 231, 195, 0.623);
    
    
}

.recommendation{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    padding: 10px;
}
@media only screen and (min-width: 1000px){
    .books{
        margin-top: 80px;

    }

    .books .imgs{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .books .imgs > div{
        margin: 10px 50px;

    }

    
    .blockchainpathway p {
        font-size: 1.3em;

    }
    .wealthtransfer p{
        font-size: 1.3em;

    }
    .recommendation{
        width: 60%;
    }
}