.testimonies{
    padding-top: 60px;
}

.title{
    text-align: center;

}

.stars > * {
    color: gold;
}

.testimonycards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testimonycard{
    width: 30%;
    margin: 1.25rem;
    background-color: rgba(238, 238, 238, 0.801);
    padding: 1.25rem;
    /* height: 30vh; */
    border-radius: 20px;
}
.testimonycard > *{
    margin: 10px 0;
}
.testimonycard .thetestimony{
    font-size: 1.3em;
    font-weight: bold;
}
.testimonycard .writer{
    font-size: 1.2em;
    font-weight: bold;
    color: goldenrod;
}

.writerTitle{
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 1000px){
    .testimonycards{
        flex-direction: column;
    }
    
    .testimonycard{
        width: 80%;
        margin: 40px 0;
        height: 30vh;
        background-color: rgba(238, 238, 238, 0.801);
        
        
    }
    
}