.cto{
    /* background-image: linear-gradient(to top, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.6) 20%), url(../images/ajayimg.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding: 1.25rem;
    height: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ctoimg{
    height: 40%;
    width: 100vw;
    margin-bottom: 30px;
}
.ctoimg img{
    height: 100%;
    width: 100%;
}
.ctodecription{
    color: rgb(207, 204, 204);
    width: 90%;
    line-height: 2;
}

.ctobtn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toBottom{
    color: white;
    font-size: 2rem;
}

.ctodecription p{
    font-size: 1em;
    font-weight: 600;
    color: black;
}

.more a, .contact a {
    text-decoration: none;
    color: black;
    background-color: goldenrod;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 1.25rem;
    transition: 0.5s ease-in-out;
}



.more a{
    color: black;
    background-color: goldenrod;
}
.contact a{
    color: goldenrod;
    background-color: black;
}
.more a:hover{
    color: goldenrod;
    background-color: black;
}
.contact a:hover{
    color: black;
    background-color: goldenrod;
}
@media only screen and (min-width: 1000px){
    .cto{
        flex-direction: row;
        margin-top: 0px;
        height: 100vh;
    }
    
	.ctodecription{
        color: black;
        width: 70%;
    }
    .ctodecription p{
        font-size: 1.1em;
    }
    .ctoimg{
        height: 100%;
        width: 40vw;
        margin-bottom: 30px;
    }
    .ctoimg img{
        height: 100%;
        width: 100%;
    }
    
}