.footer{
    background-color: rgba(238, 235, 235, 0.966);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100%;
    flex-direction: column;
}

.footer > *{
    margin-bottom: 10px;
}

.socials a{
    margin-right: 10px;
    color: black;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.socials a:hover{
    color: goldenrod;
}


@media only screen and (min-width: 1000px){

	.socials a{
        margin-right: 10px;
        color: black;
        font-size: 1.3em;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    .socials a:hover{
        color: goldenrod;
    }
}