.title{
    text-align: center;
    margin-top: 40px;
}
.work{
    margin: 10px 30px;
}
.work > div{
    margin: 10px 0;
}

.work > div > div{
    margin: 20px 0;
}

/* .workdone ul li {
    font-size: 1.1em;
    font-weight: 600;
} */

@media only screen and (min-width: 1000px){
    .work{
        margin-top: 30px;
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .workGroup{
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
    }

    
/* .workdone ul li {
    font-size: 1.3em;
    font-weight: 600;
} */

}